// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upload_form{
  background-color: #eee;
  border: 2px solid gray;
  padding: 7px;
  display: inline-block;

  .segment{
    margin: 10px 0;
  }
  .cb-label{
    margin-right: 20px;
    border: 1px solid black;
    padding: 3px;
    &:hover{
      background-color: lightgray;
      cursor: pointer;
    }
  }

  #submit{
    margin-top: 15px;
    font-weight: bold;
    background: forestgreen;
    padding: 7px;
    border-radius: 4px;
    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.bich-addon{
  color: red;
}

#examples{
  width: 700px;

  .example{
    padding: 5px;
    width: 50%;
    border: 2px solid black;
    box-sizing: border-box;

    &#before{
      float: left;
    }
    &#after{
      float: right;
      border-left: 0;
    }
  }
}
